@import "base.css";
$default-font-size: 16px !default;
html{
  font-size: $default-font-size;
}
@function toRem($px){
 @return ($px/$default-font-size)*1rem;
}
//nav
.bar-header {
  top: 0;
  border-top-width: 0;
  border-bottom-width: 1px;
}
.bar {
  height: 60px !important;
  border:none !important;
  background-color: #1e2737 !important;
  background-size: 0;
  padding: 0 !important;
}
.ionic-header{
  background: #1e2737;
  height:60px;
  >div{
    width:100%;
    >a{
      display: inline-block;
      float: left;
      vertical-align: top;
      width:toRem(100px) !important;
      height:toRem(60px) !important;
      background: url('../images/logo.png') no-repeat;
      background-size: toRem(100px) toRem(60px);
    }
    .header-nav{
      height:toRem(60px);
      width:calc(100% - 100px);
      display: inline-block;
      ul{
        width:toRem(670px);
        display: inline-block;
        //float: left;
        padding: 8px;
        li{
          float: left;
          width:toRem(108px);
          height:toRem(44px);
          text-align: center;
          line-height: toRem(44px);
          i{
            width:toRem(24px);
            height:toRem(24px);
            display: inline-block;
            vertical-align: sub;
            margin-right: 10px;
          }
          a{
            font-size:toRem(15px);
            color:#78829d;
          }
          &:nth-child(1){
            i{
              background: url('../images/HeaderNavIcon-table.png') no-repeat;
              background-size: cover;
            }
            &.active{
              i{
                background: url('../images/HeaderNavIconHover-table.png') no-repeat;
                background-size: cover;
              }
            }
          }
          &:nth-child(2){
            i{
              background: url('../images/HeaderNavIcon-menu.png') no-repeat;
              background-size: cover;
            }
            &.active{
              i{
                background: url('../images/HeaderNavIconHover-menu.png') no-repeat;
                background-size: cover;
              }
            }
          }
          &:nth-child(3){
            i{
              background: url('../images/HeaderNavIcon-table.png') no-repeat;
              background-size: cover;
            }
            &.active{
              i{
                background: url('../images/HeaderNavIconHover-checkout.png') no-repeat;
                background-size: cover;
              }
            }
          }
          &:nth-child(4){
            i{
              background: url('../images/HeaderNavIcon-car.png') no-repeat;
              background-size: cover;
            }
            &.active{
              i{
                background: url('../images/HeaderNavIcon-car1.png') no-repeat;
                background-size: cover;
              }
            }
          }
          &:nth-child(5){
            i{
              background: url('../images/HeaderNavIcon-statistice.png') no-repeat;
              background-size: cover;
            }
            &.active{
              i{
                background: url('../images/HeaderNavIconHover-statistice.png') no-repeat;
                background-size: cover;
              }
            }
          }
          &:nth-child(6){
            i{
              background: url('../images/HeaderNavIcon-statistice.png') no-repeat;
              background-size: cover;
            }
            &.active{
              i{
                background: url('../images/HeaderNavIconHover-statistice.png') no-repeat;
                background-size: cover;
              }
            }
          }
        }
      }
      >div{
        display: inline-block;
        float: right;
        i{
         display: inline-block;
        }
        .refresh{
          width:toRem(48px);
          height:toRem(60px);
          background: url('../images/new.png') no-repeat center center;
          background-size: toRem(28px) toRem(28px);
        }
        .setting{
          width:toRem(60px);
          height:toRem(60px);
          background: url('../images/HeaderDropdownIcon.png') no-repeat;
          background-size: 100%;
        }
      }
    }
    .header-dropdown{
      position: absolute;
      top:toRem(60px);
      right:0;
      width:240px;
      font-size: toRem(15px);
      background: #5b6d98;
      border-radius: 0 0 4px 4px;
      >div{

      }
    }
  }
}