@charset "utf-8";
@import "base.css";         // 初始化
@import "common/variable";  // 公共变量

$default-font-size: 16px !default;
html{
  font-size: $default-font-size;
}
.scroll-content{
  margin-top: $navH;
}
@function toRem($px){
 @return ($px/$default-font-size)*1rem;
}
.scroll{
  height: 100%;
  transform: translate3d(0px, -1px, 0px) scale(1) !important;
}
//esp
.esp{
  display: none;
}
//nav
.bar-header {
  top: 0;
  border-top-width: 0;
  border-bottom-width: 1px;
}
.bar {
  height: 60px !important;
  border:none !important;
  background-color: #1e2737 !important;
  background-size: 0;
  padding: 0 !important;
}
.ionic-header{
  background: #1e2737;
  height:60px;
  >div{
    width:100%;
    >a{
      display: inline-block;
      float: left;
      vertical-align: top;
      width:toRem(100px) !important;
      height:toRem(60px) !important;
      background: url('../images/logo.png') no-repeat;
      background-size: toRem(100px) toRem(60px);
    }
    .header-nav{
      height:toRem(60px);
      width:calc(100% - 100px);
      display: inline-block;
      ul{
        width:toRem(670px);
        display: inline-block;
        //float: left;
        padding: 8px;
        li{
          float: left;
          width:toRem(108px);
          height:toRem(44px);
          text-align: center;
          line-height: toRem(44px);
          i{
            width:toRem(24px);
            height:toRem(24px);
            display: inline-block;
            vertical-align: sub;
            margin-right: 10px;
          }
          a{
            font-size:toRem(15px);
            color:#78829d;
          }
          &:nth-child(1){
            i{
              background: url('../images/HeaderNavIcon-table.png') no-repeat;
              background-size: cover;
            }
            &.active{
              i{
                background: url('../images/HeaderNavIconHover-table.png') no-repeat;
                background-size: cover;
              }
            }
          }
          &:nth-child(2){
            i{
              background: url('../images/HeaderNavIcon-menu.png') no-repeat;
              background-size: cover;
            }
            &.active{
              i{
                background: url('../images/HeaderNavIconHover-menu.png') no-repeat;
                background-size: cover;
              }
            }
          }
          &:nth-child(3){
            i{
              background: url('../images/HeaderNavIcon-checkout.png') no-repeat;
              background-size: cover;
            }
            &.active{
              i{
                background: url('../images/HeaderNavIconHover-checkout.png') no-repeat;
                background-size: cover;
              }
            }
          }
          &:nth-child(4){
            i{
              background: url('../images/HeaderNavIcon-car.png') no-repeat;
              background-size: cover;
            }
            &.active{
              i{
                background: url('../images/HeaderNavIcon-car1.png') no-repeat;
                background-size: cover;
              }
            }
          }
          &:nth-child(5){
            i{
              background: url('../images/HeaderNavIcon-statistice.png') no-repeat;
              background-size: cover;
            }
            &.active{
              i{
                background: url('../images/HeaderNavIconHover-statistice.png') no-repeat;
                background-size: cover;
              }
            }
          }
          &:nth-child(6){
            i{
              background: url('../images/HeaderNavIcon-statistice.png') no-repeat;
              background-size: cover;
            }
            &.active{
              i{
                background: url('../images/HeaderNavIconHover-statistice.png') no-repeat;
                background-size: cover;
              }
            }
          }
          &.active{
            background: #29324a;
            border: 1px solid #1c202b;
            box-shadow: inset 0 0 1px #606980;
            border-radius: 6px;
            box-sizing: border-box;
            a{
              color: #fff;
            }
          }
        }
      }
      >div{
        display: inline-block;
        float: right;
        i{
         display: inline-block;
        }
        .refresh{
          width:toRem(48px);
          height:toRem(60px);
          background: url('../images/new.png') no-repeat center center;
          background-size: toRem(28px) toRem(28px);
        }
        .setting{
          width:toRem(60px);
          height:toRem(60px);
          background-image: url('../images/HeaderDropdownIcon.png');
          background-size: 100%;
        }
      }
    }
    .header-dropdown{
      position: absolute;
      top:toRem(60px);
      right:0;
      width:240px;
      font-size: toRem(15px);
      background: #5b6d98;
      border-radius: 0 0 4px 4px;
      >div{
        width:toRem(240px);
        height:toRem(117px);
        padding: toRem(20px) toRem(20px) 0 toRem(20px);
        border-bottom: 1px solid #566790;
        >div{
          i{
            display: inline-block;
            width:toRem(50px);
            height:toRem(50px);
            background: url('../images/AvatarBg.png') no-repeat;
            background-size: toRem(50px) toRem(50px);
            margin-right:toRem(10px);
          }
          >div{
            display: inline-block;
            vertical-align: top;
            p{
              color:#b2c1e6;
              &:nth-child(1){
                font-size:toRem(14px);
                //margin-bottom: toRem(10px);
              }
              &:nth-child(2){
                font-size:toRem(18px);
                margin-bottom:toRem(10px);
              }
            }
          }
        }
        >p{
          color:#b2c1e6;
          font-size: 14px;
          span{
            float: right;
          }
        }
      }
      ul{
        height:toRem(240px);
        li{
          float:left;
          width:toRem(120px);
          height:toRem(60px);
          text-align: center;
          a{
            display: inline-block;
            font-size: toRem(15px);
            color:#fff;
            width:toRem(120px);
            height:toRem(60px);
            line-height: toRem(60px);
          }
          &:hover{
            background:#1e2737;
          }
        }
      }
      >span{
        border-top: 1px solid #566790;
        display: block !important;
        height:toRem(60px);
        width:toRem(240px);
        color:#fff;
        font-size: toRem(16px);
        //line-height: toRem(60px);
        padding-top: toRem(16px);
        i{
          display: inline-block;
          vertical-align:top;
          width:toRem(28px);
          height:toRem(28px);
          background: url('../images/exit.png');
          background-size: toRem(28px) toRem(28px);
          margin: 0 toRem(10px) 0 toRem(85px);
        }
        &:hover{
          background: #1e2737;
        }
      }
    }
  }
}


.ionic-content{
  margin-top: toRem(60px);
  //height:calc(100% - #{toRem(60px)});
  //>div{
  //  height:100%;
  //}
}

//table
.table-nav{
  height:toRem(60px);
  border-bottom: 1px solid #ebebeb;
  ul{
    margin-left: toRem(30px);
    li{
      float: left;
      height:toRem(59px);
      width:toRem(120px);
      border-bottom: 2px solid transparent;
      a{
        display: inline-block;
        height:100%;
        text-align: center;
        width:100%;
        line-height:toRem(59px);
        font-size: toRem(16px);
        color:#666;
        span{
          padding: 0 10px;
          color:#333;
          font-size: toRem(10px);
          height:toRem(20px);
          border-radius: toRem(4px);
          margin-right:toRem(5px);
        }
      }
      &.active{
        a{
          color:#297ef8;
        }
        border-bottom: 2px solid #297ef8;
      }
      &:nth-child(2){
        span{
          border: 1px dashed #e2e2e2;
          background-color: #fff;
        }
      }
      &:nth-child(3){
        span{
          border: 1px dashed #69a2ff;
          background-color: #e1ecff;
        }
      }
      &:nth-child(4){
        span{
          border: 1px dashed #69a2ff;
          background: #fff;
        }
      }
    }
  }
}
.table-content{
  background: #f2f2f2;
  padding: 30px 0 100px;
  height:100%;
  ul{
    background: #f2f2f2;
    li{
      float:left;
      width:toRem(160px);
      height:toRem(140px);
      border: dashed 2px #e2e2e2;
      background: #fff;
      margin-left: 30px;
      margin-bottom: 30px;
      position: relative;
      text-align: center;
      >a{
        width:toRem(160px);
        height:toRem(140px);
        font-size: toRem(15px);
        color:#222;
        >span{
          position: absolute;
          color: #fff;
          background-color: rgba(105,162,255,0.7);
          font-size: toRem(12px);
          border-radius: toRem(6px) 0 toRem(6px) 0;
          min-width: toRem(40px);
          top:-2px;
          left:-2px;
        }
        h3,h4{
          font-size: toRem(18px);
          font-weight: bold;
        }
        h3{
          color:#333;
          margin-top: toRem(30px);
        }
        h4{
          color: #69779a;
          margin-top:toRem(10px);
        }
        p{
          position: absolute;
          bottom: 0;
          background-color: #fafafa;
          border-top: 1px dashed #e9e9e9;
          font-size: toRem(12px);
          color:#8c97b2;
          padding: toRem(4px) 0;
        }
      }
    }
  }
}


//setting
.setting-nav{
  width:100%;
  height:100%;
  >nav{
    width:toRem(200px);
    background: #eef1f7;
    color:#444c63;
    border-right:#dee0e0 solid 1px;
    display: inline-block;
    vertical-align: top;
    height:100%;
    h1{
      background:#2879ff;
      color:#fff;
      font-size:toRem(20px);
      cursor: pointer;
      height:toRem(60px);
      line-height: toRem(60px);
      padding-left:toRem(18px);
    }
    ul{
      li{
        height:toRem(60px);
        line-height: toRem(60px);
        font-size: toRem(16px);
        padding-left: toRem(18px);
        i{
          display: inline-block;
          vertical-align: middle;
          width:toRem(18px);
          height:toRem(18px);
          margin-right: toRem(15px);
        }
        &:nth-child(1){
          i{
            background: url('../images/all-table.png') no-repeat;
            background-size: cover;
          }
          &.active{
            i{
              background: url('../images/all-table1.png') no-repeat;
              background-size: cover;
            }
          }
        }
        &:nth-child(2){
          i{
            background: url('../images/add-manyTable.png') no-repeat;
            background-size: cover;
          }
          &.active{
            i{
              background: url('../images/add-manyTable1.png') no-repeat;
              background-size: cover;
            }
          }
        }
        &:nth-child(3){
          i{
            background: url('../images/TableQrCode.png') no-repeat;
            background-size: cover;
          }
          &.active{
            i{
              background: url('../images/TableQrCodeHover.png') no-repeat;
              background-size: cover;
            }
          }
        }
        &:nth-child(4){
          i{
            background: url('../images/TableType.png') no-repeat;
            background-size: cover;
          }
          &.active{
            i{
              background: url('../images/TableTypeHover.png') no-repeat;
              background-size: cover;
            }
          }
        }
        &:nth-child(5){
          i{
            background: url('../images/PayQrCode.png') no-repeat;
            background-size: cover;
          }
          &.active{
            i{
              background: url('../images/PayQrCodeHover.png') no-repeat;
              background-size: cover;
            }
          }
        }
        &.active{
          background:#fff;
          color:#2879ff;
        }
      }
    }
  }
  >div{
    width:calc(100% - #{toRem(200px)});
    float: right;
  }


  .all-content{
    height:100%;
    .add-group{
      height:100%;
      width:toRem(159px);
      display: inline-block;
      vertical-align: top;
      //text-align: center;
      padding-top: toRem(26px);
      border-right:#dee0e0 solid 1px;
      >a{
        //display: inline-block;
        width: toRem(139px);
        height:toRem(34px);
        line-height: toRem(34px);
        font-size: toRem(16px);
        border-radius: toRem(34px);
        background-color: #8c97b2;
        color: #fff;
        margin-left:toRem(9px);
        margin-bottom: toRem(40px);
        display: flex;
        align-items: center;
        i{
          display: inline-block;
          vertical-align: middle;
          width:toRem(24px);
          height:toRem(24px);
          margin-left: toRem(15px);
          background: url('../images/GroupAdd.png') center center;
        }
      }
      ul{
        padding-left: toRem(20px);
        li{
          color: #2879ff;
          font-weight: bold;
          font-size: toRem(16px);
        }
      }
    }
    .add-table{
      display: inline-block;
      background: #eef1f7;
      width:calc(100% - #{toRem(159px)});
      height:100%;
      >a{
        //display: inline-block;
        width: toRem(139px);
        height:toRem(34px);
        line-height: toRem(34px);
        font-size: toRem(16px);
        border-radius: toRem(34px);
        background-color: #2879ff;
        color: #fff;
        display: flex;
        align-items: center;
        margin-top: toRem(26px);
        margin-left: toRem(26px);
        i{
          display: inline-block;
          vertical-align: sub;
          width:toRem(24px);
          height:toRem(24px);
          margin-left: toRem(15px);
          background: url('../images/GroupAdd.png') center;
        }
      }
      ul{
        li{
          float: left;
          margin: toRem(28px) 0 0 toRem(26px);
          background-color: #fff;
          border: dashed 2px #e2e2e2;
          border-radius: toRem(6px);
          text-align: center;
          width:toRem(160px);
          height:toRem(140px);
          position: relative;
          >a{
            display: inline-block;
            color: #222;
            font-size: toRem(15px);
            width:toRem(160px);
            height:toRem(140px);
            >span{
              position: absolute;
              color: #fff;
              background-color: rgba(105,162,255,0.7);
              font-size: toRem(12px);
              border-radius: toRem(6px) 0 toRem(6px) 0;
              min-width: toRem(40px);
              top:-2px;
              left:-2px;
            }
            h3{
              color:#333;
              font-size: toRem(18px);
              font-weight: bold;
              margin-top: toRem(30px);
            }
            h4{
              display: inline-block;
              background-color: #f2f2f2;
              color: #999;
              font-size:toRem(14px);
              font-weight: bold;
              padding:toRem(4px) toRem(10px);
              min-width: toRem(10px);
              border-radius: toRem(10px);
              margin-top: toRem(10px);
            }
            i{
              display: inline-block;
              width:toRem(28px);
              height:toRem(28px);
              background: url('../images/TableBox-img.png') no-repeat;
              background-size: toRem(28px) toRem(28px);
              position: absolute;
              bottom: -2px;
              right:-2px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

