@charset "UTF-8";
@import url(base.css);
/**
*  公共变量
*
*/
html {
  font-size: 16px; }

.scroll-content {
  margin-top: 60px; }

.scroll {
  height: 100%; }

.esp {
  display: none; }

.bar-header {
  top: 0;
  border-top-width: 0;
  border-bottom-width: 1px; }

.bar {
  height: 60px !important;
  border: none !important;
  background-color: #1e2737 !important;
  background-size: 0;
  padding: 0 !important; }

.ionic-header {
  background: #1e2737;
  height: 60px; }
  .ionic-header > div {
    width: 100%; }
    .ionic-header > div > a {
      display: inline-block;
      float: left;
      vertical-align: top;
      width: 6.25rem !important;
      height: 3.75rem !important;
      background: url("../images/logo.png") no-repeat;
      background-size: 6.25rem 3.75rem; }
    .ionic-header > div .header-nav {
      height: 3.75rem;
      width: calc(100% - 100px);
      display: inline-block; }
      .ionic-header > div .header-nav ul {
        width: 41.875rem;
        display: inline-block;
        padding: 8px; }
        .ionic-header > div .header-nav ul li {
          float: left;
          width: 6.75rem;
          height: 2.75rem;
          text-align: center;
          line-height: 2.75rem; }
          .ionic-header > div .header-nav ul li i {
            width: 1.5rem;
            height: 1.5rem;
            display: inline-block;
            vertical-align: sub;
            margin-right: 10px; }
          .ionic-header > div .header-nav ul li a {
            font-size: 0.9375rem;
            color: #78829d; }
          .ionic-header > div .header-nav ul li:nth-child(1) i {
            background: url("../images/HeaderNavIcon-table.png") no-repeat;
            background-size: cover; }
          .ionic-header > div .header-nav ul li:nth-child(1).active i {
            background: url("../images/HeaderNavIconHover-table.png") no-repeat;
            background-size: cover; }
          .ionic-header > div .header-nav ul li:nth-child(2) i {
            background: url("../images/HeaderNavIcon-menu.png") no-repeat;
            background-size: cover; }
          .ionic-header > div .header-nav ul li:nth-child(2).active i {
            background: url("../images/HeaderNavIconHover-menu.png") no-repeat;
            background-size: cover; }
          .ionic-header > div .header-nav ul li:nth-child(3) i {
            background: url("../images/HeaderNavIcon-checkout.png") no-repeat;
            background-size: cover; }
          .ionic-header > div .header-nav ul li:nth-child(3).active i {
            background: url("../images/HeaderNavIconHover-checkout.png") no-repeat;
            background-size: cover; }
          .ionic-header > div .header-nav ul li:nth-child(4) i {
            background: url("../images/HeaderNavIcon-car.png") no-repeat;
            background-size: cover; }
          .ionic-header > div .header-nav ul li:nth-child(4).active i {
            background: url("../images/HeaderNavIcon-car1.png") no-repeat;
            background-size: cover; }
          .ionic-header > div .header-nav ul li:nth-child(5) i {
            background: url("../images/HeaderNavIcon-statistice.png") no-repeat;
            background-size: cover; }
          .ionic-header > div .header-nav ul li:nth-child(5).active i {
            background: url("../images/HeaderNavIconHover-statistice.png") no-repeat;
            background-size: cover; }
          .ionic-header > div .header-nav ul li:nth-child(6) i {
            background: url("../images/HeaderNavIcon-statistice.png") no-repeat;
            background-size: cover; }
          .ionic-header > div .header-nav ul li:nth-child(6).active i {
            background: url("../images/HeaderNavIconHover-statistice.png") no-repeat;
            background-size: cover; }
          .ionic-header > div .header-nav ul li.active {
            background: #29324a;
            border: 1px solid #1c202b;
            box-shadow: inset 0 0 1px #606980;
            border-radius: 6px;
            box-sizing: border-box; }
            .ionic-header > div .header-nav ul li.active a {
              color: #fff; }
      .ionic-header > div .header-nav > div {
        display: inline-block;
        float: right; }
        .ionic-header > div .header-nav > div i {
          display: inline-block; }
        .ionic-header > div .header-nav > div .refresh {
          width: 3rem;
          height: 3.75rem;
          background: url("../images/new.png") no-repeat center center;
          background-size: 1.75rem 1.75rem; }
        .ionic-header > div .header-nav > div .setting {
          width: 3.75rem;
          height: 3.75rem;
          background-image: url("../images/HeaderDropdownIcon.png");
          background-size: 100%; }
    .ionic-header > div .header-dropdown {
      position: absolute;
      top: 3.75rem;
      right: 0;
      width: 240px;
      font-size: 0.9375rem;
      background: #5b6d98;
      border-radius: 0 0 4px 4px; }
      .ionic-header > div .header-dropdown > div {
        width: 15rem;
        height: 7.3125rem;
        padding: 1.25rem 1.25rem 0 1.25rem;
        border-bottom: 1px solid #566790; }
        .ionic-header > div .header-dropdown > div > div i {
          display: inline-block;
          width: 3.125rem;
          height: 3.125rem;
          background: url("../images/AvatarBg.png") no-repeat;
          background-size: 3.125rem 3.125rem;
          margin-right: 0.625rem; }
        .ionic-header > div .header-dropdown > div > div > div {
          display: inline-block;
          vertical-align: top; }
          .ionic-header > div .header-dropdown > div > div > div p {
            color: #b2c1e6; }
            .ionic-header > div .header-dropdown > div > div > div p:nth-child(1) {
              font-size: 0.875rem; }
            .ionic-header > div .header-dropdown > div > div > div p:nth-child(2) {
              font-size: 1.125rem;
              margin-bottom: 0.625rem; }
        .ionic-header > div .header-dropdown > div > p {
          color: #b2c1e6;
          font-size: 14px; }
          .ionic-header > div .header-dropdown > div > p span {
            float: right; }
      .ionic-header > div .header-dropdown ul {
        height: 15rem; }
        .ionic-header > div .header-dropdown ul li {
          float: left;
          width: 7.5rem;
          height: 3.75rem;
          text-align: center; }
          .ionic-header > div .header-dropdown ul li a {
            display: inline-block;
            font-size: 0.9375rem;
            color: #fff;
            width: 7.5rem;
            height: 3.75rem;
            line-height: 3.75rem; }
          .ionic-header > div .header-dropdown ul li:hover {
            background: #1e2737; }
      .ionic-header > div .header-dropdown > span {
        border-top: 1px solid #566790;
        display: block !important;
        height: 3.75rem;
        width: 15rem;
        color: #fff;
        font-size: 1rem;
        padding-top: 1rem; }
        .ionic-header > div .header-dropdown > span i {
          display: inline-block;
          vertical-align: top;
          width: 1.75rem;
          height: 1.75rem;
          background: url("../images/exit.png");
          background-size: 1.75rem 1.75rem;
          margin: 0 0.625rem 0 5.3125rem; }
        .ionic-header > div .header-dropdown > span:hover {
          background: #1e2737; }

.ionic-content {
  margin-top: 3.75rem; }
  .ionic-content > div {
    height: 100%; }

.table-nav {
  height: 3.75rem;
  border-bottom: 1px solid #ebebeb; }
  .table-nav ul {
    margin-left: 1.875rem; }
    .table-nav ul li {
      float: left;
      height: 3.6875rem;
      width: 7.5rem;
      border-bottom: 2px solid transparent; }
      .table-nav ul li a {
        display: inline-block;
        height: 100%;
        text-align: center;
        width: 100%;
        line-height: 3.6875rem;
        font-size: 1rem;
        color: #666; }
        .table-nav ul li a span {
          padding: 0 10px;
          color: #333;
          font-size: 0.625rem;
          height: 1.25rem;
          border-radius: 0.25rem;
          margin-right: 0.3125rem; }
      .table-nav ul li.active {
        border-bottom: 2px solid #297ef8; }
        .table-nav ul li.active a {
          color: #297ef8; }
      .table-nav ul li:nth-child(2) span {
        border: 1px dashed #e2e2e2;
        background-color: #fff; }
      .table-nav ul li:nth-child(3) span {
        border: 1px dashed #69a2ff;
        background-color: #e1ecff; }
      .table-nav ul li:nth-child(4) span {
        border: 1px dashed #69a2ff;
        background: #fff; }

.table-content {
  background: #f2f2f2;
  padding: 30px 0 100px;
  height: 100%; }
  .table-content ul {
    background: #f2f2f2; }
    .table-content ul li {
      float: left;
      width: 10rem;
      height: 8.75rem;
      border: dashed 2px #e2e2e2;
      background: #fff;
      margin-left: 30px;
      margin-bottom: 30px; }

.setting-nav {
  width: 100%;
  height: 100%; }
  .setting-nav > nav {
    width: 12.5rem;
    background: #eef1f7;
    color: #444c63;
    border-right: #dee0e0 solid 1px;
    display: inline-block;
    vertical-align: top;
    height: 100%; }
    .setting-nav > nav h1 {
      background: #2879ff;
      color: #fff;
      font-size: 1.25rem;
      cursor: pointer;
      height: 3.75rem;
      line-height: 3.75rem;
      padding-left: 1.125rem; }
    .setting-nav > nav ul li {
      height: 3.75rem;
      line-height: 3.75rem;
      font-size: 1rem;
      padding-left: 1.125rem; }
      .setting-nav > nav ul li i {
        display: inline-block;
        vertical-align: middle;
        width: 1.125rem;
        height: 1.125rem;
        margin-right: 0.9375rem; }
      .setting-nav > nav ul li:nth-child(1) i {
        background: url("../images/all-table.png") no-repeat;
        background-size: cover; }
      .setting-nav > nav ul li:nth-child(1).active i {
        background: url("../images/all-table1.png") no-repeat;
        background-size: cover; }
      .setting-nav > nav ul li:nth-child(2) i {
        background: url("../images/add-manyTable.png") no-repeat;
        background-size: cover; }
      .setting-nav > nav ul li:nth-child(2).active i {
        background: url("../images/add-manyTable1.png") no-repeat;
        background-size: cover; }
      .setting-nav > nav ul li:nth-child(3) i {
        background: url("../images/TableQrCode.png") no-repeat;
        background-size: cover; }
      .setting-nav > nav ul li:nth-child(3).active i {
        background: url("../images/TableQrCodeHover.png") no-repeat;
        background-size: cover; }
      .setting-nav > nav ul li:nth-child(4) i {
        background: url("../images/TableType.png") no-repeat;
        background-size: cover; }
      .setting-nav > nav ul li:nth-child(4).active i {
        background: url("../images/TableTypeHover.png") no-repeat;
        background-size: cover; }
      .setting-nav > nav ul li:nth-child(5) i {
        background: url("../images/PayQrCode.png") no-repeat;
        background-size: cover; }
      .setting-nav > nav ul li:nth-child(5).active i {
        background: url("../images/PayQrCodeHover.png") no-repeat;
        background-size: cover; }
      .setting-nav > nav ul li.active {
        background: #fff;
        color: #2879ff; }
  .setting-nav > div {
    width: calc(100% - 12.5rem);
    float: right; }
  .setting-nav .all-content {
    height: 100%; }
    .setting-nav .all-content .add-group {
      height: 100%;
      width: 9.9375rem;
      display: inline-block;
      text-align: center;
      padding-top: 1.25rem;
      border-right: #dee0e0 solid 1px; }
      .setting-nav .all-content .add-group > a {
        display: inline-block;
        width: 8.6875rem;
        height: 2.125rem;
        line-height: 2.125rem;
        font-size: 1rem;
        border-radius: 2.125rem;
        background-color: #8c97b2;
        color: #fff; }
        .setting-nav .all-content .add-group > a i {
          display: inline-block;
          width: 1.5rem;
          height: 1.5rem;
          background: url("../images/GroupAdd.png") center; }

/*# sourceMappingURL=main.css.map */
