@charset "UTF-8";
@import url(base.css);
/**
*  公共变量
*
*/
html {
  font-size: 16px; }

.scroll-content {
  margin-top: 60px; }

.scroll {
  height: 100%;
  transform: translate3d(0px, -1px, 0px) scale(1) !important; }

.esp {
  display: none; }

.bar-header {
  top: 0;
  border-top-width: 0;
  border-bottom-width: 1px; }

.bar {
  height: 60px !important;
  border: none !important;
  background-color: #1e2737 !important;
  background-size: 0;
  padding: 0 !important; }

.ionic-header {
  background: #1e2737;
  height: 60px; }
  .ionic-header > div {
    width: 100%; }
    .ionic-header > div > a {
      display: inline-block;
      float: left;
      vertical-align: top;
      width: 6.25rem !important;
      height: 3.75rem !important;
      background: url("../images/logo.png") no-repeat;
      background-size: 6.25rem 3.75rem; }
    .ionic-header > div .header-nav {
      height: 3.75rem;
      width: calc(100% - 100px);
      display: inline-block; }
      .ionic-header > div .header-nav ul {
        width: 41.875rem;
        display: inline-block;
        padding: 8px; }
        .ionic-header > div .header-nav ul li {
          float: left;
          width: 6.75rem;
          height: 2.75rem;
          text-align: center;
          line-height: 2.75rem; }
          .ionic-header > div .header-nav ul li i {
            width: 1.5rem;
            height: 1.5rem;
            display: inline-block;
            vertical-align: sub;
            margin-right: 10px; }
          .ionic-header > div .header-nav ul li a {
            font-size: 0.9375rem;
            color: #78829d; }
          .ionic-header > div .header-nav ul li:nth-child(1) i {
            background: url("../images/HeaderNavIcon-table.png") no-repeat;
            background-size: cover; }
          .ionic-header > div .header-nav ul li:nth-child(1).active i {
            background: url("../images/HeaderNavIconHover-table.png") no-repeat;
            background-size: cover; }
          .ionic-header > div .header-nav ul li:nth-child(2) i {
            background: url("../images/HeaderNavIcon-menu.png") no-repeat;
            background-size: cover; }
          .ionic-header > div .header-nav ul li:nth-child(2).active i {
            background: url("../images/HeaderNavIconHover-menu.png") no-repeat;
            background-size: cover; }
          .ionic-header > div .header-nav ul li:nth-child(3) i {
            background: url("../images/HeaderNavIcon-checkout.png") no-repeat;
            background-size: cover; }
          .ionic-header > div .header-nav ul li:nth-child(3).active i {
            background: url("../images/HeaderNavIconHover-checkout.png") no-repeat;
            background-size: cover; }
          .ionic-header > div .header-nav ul li:nth-child(4) i {
            background: url("../images/HeaderNavIcon-car.png") no-repeat;
            background-size: cover; }
          .ionic-header > div .header-nav ul li:nth-child(4).active i {
            background: url("../images/HeaderNavIcon-car1.png") no-repeat;
            background-size: cover; }
          .ionic-header > div .header-nav ul li:nth-child(5) i {
            background: url("../images/HeaderNavIcon-statistice.png") no-repeat;
            background-size: cover; }
          .ionic-header > div .header-nav ul li:nth-child(5).active i {
            background: url("../images/HeaderNavIconHover-statistice.png") no-repeat;
            background-size: cover; }
          .ionic-header > div .header-nav ul li:nth-child(6) i {
            background: url("../images/HeaderNavIcon-statistice.png") no-repeat;
            background-size: cover; }
          .ionic-header > div .header-nav ul li:nth-child(6).active i {
            background: url("../images/HeaderNavIconHover-statistice.png") no-repeat;
            background-size: cover; }
          .ionic-header > div .header-nav ul li.active {
            background: #29324a;
            border: 1px solid #1c202b;
            box-shadow: inset 0 0 1px #606980;
            border-radius: 6px;
            box-sizing: border-box; }
            .ionic-header > div .header-nav ul li.active a {
              color: #fff; }
      .ionic-header > div .header-nav > div {
        display: inline-block;
        float: right; }
        .ionic-header > div .header-nav > div i {
          display: inline-block; }
        .ionic-header > div .header-nav > div .refresh {
          width: 3rem;
          height: 3.75rem;
          background: url("../images/new.png") no-repeat center center;
          background-size: 1.75rem 1.75rem; }
        .ionic-header > div .header-nav > div .setting {
          width: 3.75rem;
          height: 3.75rem;
          background-image: url("../images/HeaderDropdownIcon.png");
          background-size: 100%; }
    .ionic-header > div .header-dropdown {
      position: absolute;
      top: 3.75rem;
      right: 0;
      width: 240px;
      font-size: 0.9375rem;
      background: #5b6d98;
      border-radius: 0 0 4px 4px; }
      .ionic-header > div .header-dropdown > div {
        width: 15rem;
        height: 7.3125rem;
        padding: 1.25rem 1.25rem 0 1.25rem;
        border-bottom: 1px solid #566790; }
        .ionic-header > div .header-dropdown > div > div i {
          display: inline-block;
          width: 3.125rem;
          height: 3.125rem;
          background: url("../images/AvatarBg.png") no-repeat;
          background-size: 3.125rem 3.125rem;
          margin-right: 0.625rem; }
        .ionic-header > div .header-dropdown > div > div > div {
          display: inline-block;
          vertical-align: top; }
          .ionic-header > div .header-dropdown > div > div > div p {
            color: #b2c1e6; }
            .ionic-header > div .header-dropdown > div > div > div p:nth-child(1) {
              font-size: 0.875rem; }
            .ionic-header > div .header-dropdown > div > div > div p:nth-child(2) {
              font-size: 1.125rem;
              margin-bottom: 0.625rem; }
        .ionic-header > div .header-dropdown > div > p {
          color: #b2c1e6;
          font-size: 14px; }
          .ionic-header > div .header-dropdown > div > p span {
            float: right; }
      .ionic-header > div .header-dropdown ul {
        height: 15rem; }
        .ionic-header > div .header-dropdown ul li {
          float: left;
          width: 7.5rem;
          height: 3.75rem;
          text-align: center; }
          .ionic-header > div .header-dropdown ul li a {
            display: inline-block;
            font-size: 0.9375rem;
            color: #fff;
            width: 7.5rem;
            height: 3.75rem;
            line-height: 3.75rem; }
          .ionic-header > div .header-dropdown ul li:hover {
            background: #1e2737; }
      .ionic-header > div .header-dropdown > span {
        border-top: 1px solid #566790;
        display: block !important;
        height: 3.75rem;
        width: 15rem;
        color: #fff;
        font-size: 1rem;
        padding-top: 1rem; }
        .ionic-header > div .header-dropdown > span i {
          display: inline-block;
          vertical-align: top;
          width: 1.75rem;
          height: 1.75rem;
          background: url("../images/exit.png");
          background-size: 1.75rem 1.75rem;
          margin: 0 0.625rem 0 5.3125rem; }
        .ionic-header > div .header-dropdown > span:hover {
          background: #1e2737; }

.ionic-content {
  margin-top: 3.75rem; }

.table-nav {
  height: 3.75rem;
  border-bottom: 1px solid #ebebeb; }
  .table-nav ul {
    margin-left: 1.875rem; }
    .table-nav ul li {
      float: left;
      height: 3.6875rem;
      width: 7.5rem;
      border-bottom: 2px solid transparent; }
      .table-nav ul li a {
        display: inline-block;
        height: 100%;
        text-align: center;
        width: 100%;
        line-height: 3.6875rem;
        font-size: 1rem;
        color: #666; }
        .table-nav ul li a span {
          padding: 0 10px;
          color: #333;
          font-size: 0.625rem;
          height: 1.25rem;
          border-radius: 0.25rem;
          margin-right: 0.3125rem; }
      .table-nav ul li.active {
        border-bottom: 2px solid #297ef8; }
        .table-nav ul li.active a {
          color: #297ef8; }
      .table-nav ul li:nth-child(2) span {
        border: 1px dashed #e2e2e2;
        background-color: #fff; }
      .table-nav ul li:nth-child(3) span {
        border: 1px dashed #69a2ff;
        background-color: #e1ecff; }
      .table-nav ul li:nth-child(4) span {
        border: 1px dashed #69a2ff;
        background: #fff; }

.table-content {
  background: #f2f2f2;
  padding: 30px 0 100px;
  height: 100%; }
  .table-content ul {
    background: #f2f2f2; }
    .table-content ul li {
      float: left;
      width: 10rem;
      height: 8.75rem;
      border: dashed 2px #e2e2e2;
      background: #fff;
      margin-left: 30px;
      margin-bottom: 30px;
      position: relative;
      text-align: center;
      border-radius: 0.375rem; }
      .table-content ul li > a {
        width: 10rem;
        height: 8.75rem;
        font-size: 0.9375rem;
        color: #222; }
        .table-content ul li > a > span {
          position: absolute;
          color: #fff;
          background-color: rgba(105, 162, 255, 0.7);
          font-size: 0.75rem;
          border-radius: 0.375rem 0 0.375rem 0;
          min-width: 2.5rem;
          top: -2px;
          left: -2px; }
        .table-content ul li > a h3, .table-content ul li > a h4 {
          font-size: 1.125rem;
          font-weight: bold; }
        .table-content ul li > a h3 {
          color: #333;
          margin-top: 1.875rem; }
        .table-content ul li > a h4 {
          color: #69779a;
          margin-top: 0.625rem; }
        .table-content ul li > a p {
          position: absolute;
          bottom: 0;
          background-color: #fafafa;
          border-top: 1px dashed #e9e9e9;
          font-size: 0.75rem;
          color: #8c97b2;
          padding: 0.25rem 0;
          width: 100%; }
          .table-content ul li > a p i {
            display: inline-block;
            width: 0.75rem;
            height: 0.75rem;
            background: url("../images/TableBoxnumber.png") no-repeat;
            background-size: 0.75rem;
            margin-right: 0.25rem; }

.setting-nav {
  width: 100%;
  height: 100%; }
  .setting-nav > nav {
    width: 12.5rem;
    background: #eef1f7;
    color: #444c63;
    border-right: #dee0e0 solid 1px;
    display: inline-block;
    vertical-align: top;
    height: 100%; }
    .setting-nav > nav h1 {
      background: #2879ff;
      color: #fff;
      font-size: 1.25rem;
      cursor: pointer;
      height: 3.75rem;
      line-height: 3.75rem;
      padding-left: 1.125rem; }
    .setting-nav > nav ul li {
      height: 3.75rem;
      line-height: 3.75rem;
      font-size: 1rem;
      padding-left: 1.125rem; }
      .setting-nav > nav ul li i {
        display: inline-block;
        vertical-align: middle;
        width: 1.125rem;
        height: 1.125rem;
        margin-right: 0.9375rem; }
      .setting-nav > nav ul li:nth-child(1) i {
        background: url("../images/all-table.png") no-repeat;
        background-size: cover; }
      .setting-nav > nav ul li:nth-child(1).active i {
        background: url("../images/all-table1.png") no-repeat;
        background-size: cover; }
      .setting-nav > nav ul li:nth-child(2) i {
        background: url("../images/add-manyTable.png") no-repeat;
        background-size: cover; }
      .setting-nav > nav ul li:nth-child(2).active i {
        background: url("../images/add-manyTable1.png") no-repeat;
        background-size: cover; }
      .setting-nav > nav ul li:nth-child(3) i {
        background: url("../images/TableQrCode.png") no-repeat;
        background-size: cover; }
      .setting-nav > nav ul li:nth-child(3).active i {
        background: url("../images/TableQrCodeHover.png") no-repeat;
        background-size: cover; }
      .setting-nav > nav ul li:nth-child(4) i {
        background: url("../images/TableType.png") no-repeat;
        background-size: cover; }
      .setting-nav > nav ul li:nth-child(4).active i {
        background: url("../images/TableTypeHover.png") no-repeat;
        background-size: cover; }
      .setting-nav > nav ul li:nth-child(5) i {
        background: url("../images/PayQrCode.png") no-repeat;
        background-size: cover; }
      .setting-nav > nav ul li:nth-child(5).active i {
        background: url("../images/PayQrCodeHover.png") no-repeat;
        background-size: cover; }
      .setting-nav > nav ul li.active {
        background: #fff;
        color: #2879ff; }
  .setting-nav > div {
    width: calc(100% - 12.5rem);
    float: right; }
  .setting-nav .all-content {
    height: 100%; }
    .setting-nav .all-content .add-group {
      height: 100%;
      width: 9.9375rem;
      display: inline-block;
      vertical-align: top;
      padding-top: 1.625rem;
      border-right: #dee0e0 solid 1px; }
      .setting-nav .all-content .add-group > a {
        width: 8.6875rem;
        height: 2.125rem;
        line-height: 2.125rem;
        font-size: 1rem;
        border-radius: 2.125rem;
        background-color: #8c97b2;
        color: #fff;
        margin-left: 0.5625rem;
        margin-bottom: 2.5rem;
        display: flex;
        align-items: center; }
        .setting-nav .all-content .add-group > a i {
          display: inline-block;
          vertical-align: middle;
          width: 1.5rem;
          height: 1.5rem;
          margin-left: 0.9375rem;
          background: url("../images/GroupAdd.png") center center; }
      .setting-nav .all-content .add-group ul {
        padding-left: 1.25rem; }
        .setting-nav .all-content .add-group ul li {
          color: #2879ff;
          font-weight: bold;
          font-size: 1rem; }
    .setting-nav .all-content .add-table {
      display: inline-block;
      background: #eef1f7;
      width: calc(100% - 9.9375rem);
      height: 100%; }
      .setting-nav .all-content .add-table > a {
        width: 8.6875rem;
        height: 2.125rem;
        line-height: 2.125rem;
        font-size: 1rem;
        border-radius: 2.125rem;
        background-color: #2879ff;
        color: #fff;
        display: flex;
        align-items: center;
        margin-top: 1.625rem;
        margin-left: 1.625rem; }
        .setting-nav .all-content .add-table > a i {
          display: inline-block;
          vertical-align: sub;
          width: 1.5rem;
          height: 1.5rem;
          margin-left: 0.9375rem;
          background: url("../images/GroupAdd.png") center; }
      .setting-nav .all-content .add-table ul li {
        float: left;
        margin: 1.75rem 0 0 1.625rem;
        background-color: #fff;
        border: dashed 2px #e2e2e2;
        border-radius: 0.375rem;
        text-align: center;
        width: 10rem;
        height: 8.75rem;
        position: relative; }
        .setting-nav .all-content .add-table ul li > a {
          display: inline-block;
          color: #222;
          font-size: 0.9375rem;
          width: 10rem;
          height: 8.75rem; }
          .setting-nav .all-content .add-table ul li > a > span {
            position: absolute;
            color: #fff;
            background-color: rgba(105, 162, 255, 0.7);
            font-size: 0.75rem;
            border-radius: 0.375rem 0 0.375rem 0;
            min-width: 2.5rem;
            top: -2px;
            left: -2px; }
          .setting-nav .all-content .add-table ul li > a h3 {
            color: #333;
            font-size: 1.125rem;
            font-weight: bold;
            margin-top: 1.875rem; }
          .setting-nav .all-content .add-table ul li > a h4 {
            display: inline-block;
            background-color: #f2f2f2;
            color: #999;
            font-size: 0.875rem;
            font-weight: bold;
            padding: 0.25rem 0.625rem;
            min-width: 0.625rem;
            border-radius: 0.625rem;
            margin-top: 0.625rem; }
          .setting-nav .all-content .add-table ul li > a i {
            display: inline-block;
            width: 1.75rem;
            height: 1.75rem;
            background: url("../images/TableBox-img.png") no-repeat;
            background-size: 1.75rem 1.75rem;
            position: absolute;
            bottom: -2px;
            right: -2px;
            cursor: pointer; }

.add {
  background: url("../images/BtnAdd.png") no-repeat;
  background-size: 1.875rem 1.875rem; }

.minus {
  background: url("../images/BtnMinus.png") no-repeat;
  background-size: 1.875rem 1.875rem; }

.order {
  height: 100%; }
  .order .order-left {
    display: inline-block;
    position: relative;
    vertical-align: top;
    height: 100%;
    width: 18.75rem;
    box-shadow: 1px 0 5px 2px #e6e6e6; }
    .order .order-left .table-title div {
      display: inline-block;
      vertical-align: top;
      width: 50%;
      height: 3.125rem;
      text-align: center;
      background: #287aff;
      line-height: 3.125rem; }
      .order .order-left .table-title div > span {
        font-size: 1.125rem;
        color: #fff; }
      .order .order-left .table-title div i {
        display: inline-block;
        vertical-align: sub;
        width: 1.25rem;
        height: 1.125rem;
        margin-right: 0.5rem; }
      .order .order-left .table-title div:nth-child(1) i {
        background: url("../images/TableNameIcon.png") no-repeat;
        background-size: 1.25rem 1.125rem; }
      .order .order-left .table-title div:nth-child(2) i {
        background: url("../images/TableSwitchIcon.png") no-repeat;
        background-size: 1.25rem 1.125rem; }
    .order .order-left .order-submit {
      position: absolute;
      bottom: 0;
      height: 7.625rem;
      width: 18.75rem;
      padding: 1.25rem; }
      .order .order-left .order-submit p {
        font-size: 0.9375rem;
        color: #444c63;
        text-align: center;
        font-weight: bold;
        margin-bottom: 0.625rem; }
        .order .order-left .order-submit p i {
          color: #387ef5; }
      .order .order-left .order-submit button {
        width: 100%;
        height: 3.125rem;
        background: #007AFF;
        color: #fff;
        border-radius: 3px;
        font-size: 1.25rem; }
    .order .order-left > div:nth-child(2) {
      padding: 1.25rem;
      border-bottom: 1px solid #eee; }
      .order .order-left > div:nth-child(2) > span {
        background: url("../images/menu-number.png") no-repeat;
        background-size: 1.75rem 1.75rem;
        padding-left: 2.0625rem;
        font-size: 1.125rem; }
      .order .order-left > div:nth-child(2) > div {
        display: inline-block;
        vertical-align: top;
        float: right; }
        .order .order-left > div:nth-child(2) > div a {
          display: inline-block;
          vertical-align: middle;
          width: 1.875rem;
          height: 1.875rem; }
        .order .order-left > div:nth-child(2) > div > span {
          margin: 0 0.3125rem; }
    .order .order-left > div:nth-child(3) {
      background: #fbfbfb;
      height: 3.125rem;
      line-height: 3.125rem;
      border-bottom: 1px solid #e5e5e5;
      text-align: center; }
      .order .order-left > div:nth-child(3) > i {
        display: inline-block;
        vertical-align: middle;
        width: 1.75rem;
        height: 1.75rem;
        background: url("../images/note.png") no-repeat;
        background-size: 1.75rem 1.75rem; }
      .order .order-left > div:nth-child(3) > span {
        font-size: 0.875rem; }
    .order .order-left > div:nth-child(4) {
      background: #f7f9f9;
      line-height: 3rem;
      height: 3rem; }
      .order .order-left > div:nth-child(4) > a {
        width: 3rem;
        height: 3rem;
        display: inline-block; }
      .order .order-left > div:nth-child(4) > p {
        display: inline-block;
        vertical-align: top;
        width: 12.75rem;
        text-align: center; }
      .order .order-left > div:nth-child(4) .btn-right {
        float: right;
        background: url("../images/SmallPageIcon.png") -2.75rem -2.75rem no-repeat;
        border-left: 1px solid #e8eded; }
        .order .order-left > div:nth-child(4) .btn-right:hover {
          background: url("../images/SmallPageIcon.png") -2.75rem 0 no-repeat; }
      .order .order-left > div:nth-child(4) .btn-left {
        background: url("../images/SmallPageIcon.png") 0 -2.75rem no-repeat;
        border-right: 1px solid #e8eded; }
        .order .order-left > div:nth-child(4) .btn-left:hover {
          background: url("../images/SmallPageIcon.png") 0 0 no-repeat; }
  .order .order-right {
    display: inline-block;
    width: calc(100% - 18.75rem); }
    .order .order-right > nav {
      position: relative;
      width: 100%;
      background: #eef1f7;
      height: 3.4375rem;
      border-bottom: 1px solid #d4d9e3;
      padding-right: 3.75rem; }
      .order .order-right > nav ul {
        height: 3.4375rem; }
        .order .order-right > nav ul li {
          text-align: center;
          float: left;
          height: 3.4375rem;
          line-height: 3.4375rem;
          width: 7.5rem;
          font-size: 1rem;
          margin-right: 1.875rem;
          border-bottom: 2px solid transparent; }
          .order .order-right > nav ul li.active {
            border-bottom: 2px solid #297ef8; }
      .order .order-right > nav .order-down {
        position: absolute;
        right: 0;
        top: 0.5625rem;
        width: 3.75rem;
        height: 2.25rem;
        background: url("../images/MenuDown.png") no-repeat center center;
        border-left: 1px solid #d1d6e0; }
  .order ion-list ion-item {
    padding: 0.9375rem 0.625rem !important; }
    .order ion-list ion-item > div {
      display: inline-block;
      vertical-align: middle;
      width: 50%; }
      .order ion-list ion-item > div:nth-child(1) h3 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #444c63;
        font-size: 1rem;
        margin-bottom: 0.625rem; }
      .order ion-list ion-item > div:nth-child(1) p {
        color: #999;
        font-size: 12px; }
      .order ion-list ion-item > div:nth-child(2) {
        text-align: right;
        margin-top: 0.625rem; }
    .order ion-list ion-item .item-note a {
      display: inline-block;
      vertical-align: middle;
      width: 1.875rem;
      height: 1.875rem; }
      .order ion-list ion-item .item-note a:nth-child(2) {
        margin: 0 0.875rem; }
    .order ion-list ion-item .item-note .delete {
      background: url("../images/BtnDel.png");
      background-size: 1.875rem 1.875rem; }
  .order .order-all, .order .combo, .order .hot-pot, .order .secret, .order .hand, .order .pizza, .order .snack, .order .hot-cakes {
    padding-top: 1rem; }
    .order .order-all > input, .order .combo > input, .order .hot-pot > input, .order .secret > input, .order .hand > input, .order .pizza > input, .order .snack > input, .order .hot-cakes > input {
      width: 8.75rem;
      padding: 0 0.75rem;
      margin-left: 1.25rem;
      height: 2.25rem;
      line-height: 2.25rem;
      border-radius: 2.25rem 0 0 2.25rem;
      background: #eef1f7;
      border: #dadfea solid 1px;
      color: #111;
      transition: all 0.3s; }
      .order .order-all > input:hover, .order .order-all > input:focus, .order .combo > input:hover, .order .combo > input:focus, .order .hot-pot > input:hover, .order .hot-pot > input:focus, .order .secret > input:hover, .order .secret > input:focus, .order .hand > input:hover, .order .hand > input:focus, .order .pizza > input:hover, .order .pizza > input:focus, .order .snack > input:hover, .order .snack > input:focus, .order .hot-cakes > input:hover, .order .hot-cakes > input:focus {
        width: 12.5rem; }
    .order .order-all > span, .order .combo > span, .order .hot-pot > span, .order .secret > span, .order .hand > span, .order .pizza > span, .order .snack > span, .order .hot-cakes > span {
      display: inline-block;
      width: 2.625rem;
      height: 2.25rem;
      vertical-align: top;
      background: #297ef8 url("../images/SearchIcon.png") no-repeat center center;
      border-radius: 0 2.25rem 2.25rem 0;
      background-size: 1rem 1rem; }
    .order .order-all ul, .order .combo ul, .order .hot-pot ul, .order .secret ul, .order .hand ul, .order .pizza ul, .order .snack ul, .order .hot-cakes ul {
      padding-left: 1.25rem;
      margin-top: 0.625rem; }
      .order .order-all ul li, .order .combo ul li, .order .hot-pot ul li, .order .secret ul li, .order .hand ul li, .order .pizza ul li, .order .snack ul li, .order .hot-cakes ul li {
        position: relative;
        width: 13.75rem;
        height: 5rem;
        margin: 0.625rem 0.625rem 0 0;
        background: #fcfcfc;
        border: 1px solid #dadfea;
        border-radius: 4px;
        padding: 1.25rem;
        box-shadow: 0 1px 2px #e4e4e4;
        float: left; }
        .order .order-all ul li h3, .order .combo ul li h3, .order .hot-pot ul li h3, .order .secret ul li h3, .order .hand ul li h3, .order .pizza ul li h3, .order .snack ul li h3, .order .hot-cakes ul li h3 {
          color: #444c63;
          font-weight: 600;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          font-size: 1.125rem;
          margin-bottom: 0.375rem; }
        .order .order-all ul li p, .order .combo ul li p, .order .hot-pot ul li p, .order .secret ul li p, .order .hand ul li p, .order .pizza ul li p, .order .snack ul li p, .order .hot-cakes ul li p {
          color: #999;
          font-size: 0.75rem; }
          .order .order-all ul li p > span, .order .combo ul li p > span, .order .hot-pot ul li p > span, .order .secret ul li p > span, .order .hand ul li p > span, .order .pizza ul li p > span, .order .snack ul li p > span, .order .hot-cakes ul li p > span {
            float: right;
            font-size: 0.875rem; }
        .order .order-all ul li > span, .order .combo ul li > span, .order .hot-pot ul li > span, .order .secret ul li > span, .order .hand ul li > span, .order .pizza ul li > span, .order .snack ul li > span, .order .hot-cakes ul li > span {
          position: absolute;
          display: inline-block;
          width: 1.625rem;
          height: 1.625rem;
          right: 0;
          bottom: 0;
          background: url("../images/MenuFoodListCheck.png"); }

.pay-nav, .meals-nav {
  height: 3.75rem;
  border-bottom: 1px solid #ebebeb; }

.pay-content {
  background: #f2f2f2;
  padding: 30px 0 100px;
  height: 100%; }
  .pay-content ul {
    background: #f2f2f2; }
    .pay-content ul li {
      float: left;
      width: 10rem;
      height: 8.75rem;
      border: 2px dashed #69a2ff;
      background: #e1ecff;
      margin-left: 30px;
      margin-bottom: 30px;
      position: relative;
      text-align: center;
      border-radius: 0.375rem; }
      .pay-content ul li > a {
        width: 10rem;
        height: 8.75rem;
        font-size: 0.9375rem;
        color: #222; }
        .pay-content ul li > a > span {
          position: absolute;
          color: #fff;
          background-color: rgba(105, 162, 255, 0.7);
          font-size: 0.75rem;
          border-radius: 0.375rem 0 0.375rem 0;
          min-width: 2.5rem;
          top: -2px;
          left: -2px; }
        .pay-content ul li > a h3, .pay-content ul li > a h4 {
          font-size: 1.125rem;
          font-weight: bold; }
        .pay-content ul li > a h3 {
          color: #333;
          margin-top: 0.9375rem; }
        .pay-content ul li > a h4 {
          color: #69779a;
          margin: 0.625rem 0; }
        .pay-content ul li > a h5 {
          font-size: 14px;
          color: #69779a;
          font-weight: bold;
          word-break: break-all;
          overflow: hidden;
          text-overflow: ellipsis; }
        .pay-content ul li > a p {
          position: absolute;
          bottom: 0;
          background-color: #fff;
          border-top: 1px dashed #e9e9e9;
          font-size: 0.75rem;
          width: 100%;
          height: 1.5625rem;
          line-height: 1.5625rem; }
          .pay-content ul li > a p > span {
            display: inline-block;
            width: 50%;
            text-align: center;
            font-size: 0.75rem;
            color: #8c97b2; }
            .pay-content ul li > a p > span i {
              display: inline-block;
              width: 0.75rem;
              height: 0.75rem;
              margin-right: 0.25rem; }
            .pay-content ul li > a p > span:nth-child(1) i {
              background: url("../images/TableBoxorder.png") no-repeat;
              background-size: 0.75rem; }
            .pay-content ul li > a p > span:nth-child(2) i {
              background: url("../images/TableBoxtime.png") no-repeat;
              background-size: 0.75rem; }

.meals-nav input {
  width: 18.75rem;
  height: 2.1875rem;
  padding-left: 1rem;
  margin-top: 0.75rem;
  border: #dbdfeb solid 1px;
  background: #eef1f8;
  border-radius: 1.25rem;
  margin-left: 1rem; }

.meals-content {
  background: #f2f2f2;
  height: 100%;
  position: relative;
  width: 100%;
  margin: auto; }
  .meals-content > div {
    width: 18.125rem;
    height: 14.6875rem;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -145px;
    margin-top: -117px; }
    .meals-content > div i {
      display: inline-block;
      width: 18.125rem;
      height: 11.25rem;
      margin-bottom: 0.625rem;
      background: url("../images/TableNotFound.png") no-repeat;
      background-size: 18.125rem 11.25rem; }
    .meals-content > div p {
      font-size: 1.875rem;
      text-align: center;
      color: #666; }

.indent-nav {
  width: 100%;
  height: 100%; }
  .indent-nav > nav {
    width: 12.5rem;
    background: #eef1f7;
    color: #444c63;
    border-right: #dee0e0 solid 1px;
    display: inline-block;
    vertical-align: top;
    height: 100%; }
    .indent-nav > nav h1 {
      background: #2879ff;
      color: #fff;
      font-size: 1.25rem;
      cursor: pointer;
      height: 3.75rem;
      line-height: 3.75rem;
      padding-left: 1.125rem; }
    .indent-nav > nav ul li {
      height: 3.75rem;
      line-height: 3.75rem;
      font-size: 1rem;
      padding-left: 1.125rem; }
      .indent-nav > nav ul li i {
        display: inline-block;
        vertical-align: middle;
        width: 1.125rem;
        height: 1.125rem;
        margin-right: 0.9375rem; }
      .indent-nav > nav ul li:nth-child(1) i {
        background: url("../images/tangchiOrder.png") no-repeat;
        background-size: cover; }
      .indent-nav > nav ul li:nth-child(1).active i {
        background: url("../images/tangchiOrder-act.png") no-repeat;
        background-size: cover; }
      .indent-nav > nav ul li:nth-child(2) i {
        background: url("../images/waimaiOrder.png") no-repeat;
        background-size: cover; }
      .indent-nav > nav ul li:nth-child(2).active i {
        background: url("../images/waimaiOrder-act.png") no-repeat;
        background-size: cover; }
      .indent-nav > nav ul li.active {
        background: #fff;
        color: #2879ff; }
  .indent-nav > div {
    width: calc(100% - 12.5rem);
    float: right; }
  .indent-nav .ineat > nav, .indent-nav .take-out > nav {
    width: 100%;
    height: 3.25rem;
    padding-left: 1.25rem;
    background: #eef1f7;
    border-bottom: 1px solid #d4d9e3; }
    .indent-nav .ineat > nav ul, .indent-nav .take-out > nav ul {
      height: 100%; }
      .indent-nav .ineat > nav ul li, .indent-nav .take-out > nav ul li {
        float: left;
        font-size: 1rem;
        padding: 0.9375rem 1.25rem 2.3125rem;
        height: 100%; }
        .indent-nav .ineat > nav ul li.active, .indent-nav .take-out > nav ul li.active {
          color: #2879ff;
          border-bottom: 2px solid #297ef8; }

/*# sourceMappingURL=main.css.map */
