<ion-content>
    <div class="setting-nav">
        <nav>
            <h1>餐桌设置</h1>
            <ul>
                <li class="active" switchover><i></i>所有餐桌</li>
                <li switchover><i></i>批量添加餐桌</li>
                <li switchover><i></i>餐桌二维码</li>
                <li switchover><i></i>餐桌类型名称</li>
                <li switchover><i></i>支付二维码</li>
            </ul>
        </nav>
        <div class="all-content">
            <div class="add-group">
                <a href=""><i></i><span>添加分组</span></a>
                <ul>
                    <li>全部餐桌</li>
                </ul>
            </div>
            <div class="add-table">
                <a href=""><i></i>添加餐桌</a>
                <ul>
                    <li>
                        <a href="">
                            <span>包间</span>
                            <h3>桌台1</h3>
                            <h4>2-4人桌</h4>
                            <a href=""><i></i></a>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="esp">这是批量添加餐桌内容区</div>
        <div class="esp">这是餐桌二维码内容区</div>
        <div class="esp">这是餐桌类型名称内容区</div>
        <div class="esp">这是支付二维码内容区</div>
    </div>
</ion-content>