<ion-view>
    <ion-content>
        <div class="setting-nav">
            <nav>
                <h1>餐桌设置</h1>
                <ul>
                    <li class="active" switchover><i></i>所有餐桌</li>
                    <li switchover><i></i>批量添加餐桌</li>
                    <li switchover><i></i>餐桌二维码</li>
                    <li switchover><i></i>餐桌类型名称</li>
                    <li switchover><i></i>支付二维码</li>
                </ul>
            </nav>
            <div class="all-content">
                <div class="add-group">
                    <a href=""><i></i><span>添加分组</span></a>
                    <ul>
                        <li>全部餐桌</li>
                    </ul>
                </div><div class="add-table">
                    <a href=""><i></i>添加餐桌</a>
                    <ul>
                        <li>
                            <a href="">
                                <span>包间</span>
                                <h3>桌台1</h3>
                                <h4>2-4人桌</h4>
                                <i></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span>包间</span>
                                <h3>桌台2</h3>
                                <h4>2-4人桌</h4>
                                <i></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span>包间</span>
                                <h3>桌台3</h3>
                                <h4>2-4人桌</h4>
                                <i></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span>包间</span>
                                <h3>桌台4</h3>
                                <h4>2-4人桌</h4>
                                <i></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span>包间</span>
                                <h3>桌台5</h3>
                                <h4>2-4人桌</h4>
                                <i></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span>包间</span>
                                <h3>桌台6</h3>
                                <h4>2-4人桌</h4>
                                <i></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span>包间</span>
                                <h3>桌台7</h3>
                                <h4>2-4人桌</h4>
                                <i></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span>包间</span>
                                <h3>桌台8</h3>
                                <h4>2-4人桌</h4>
                                <i></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span>包间</span>
                                <h3>桌台9</h3>
                                <h4>2-4人桌</h4>
                                <i></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span>包间</span>
                                <h3>桌台10</h3>
                                <h4>2-4人桌</h4>
                                <i></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span>包间</span>
                                <h3>桌台11</h3>
                                <h4>2-4人桌</h4>
                                <i></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span>包间</span>
                                <h3>桌台12</h3>
                                <h4>2-4人桌</h4>
                                <i></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span>包间</span>
                                <h3>桌台13</h3>
                                <h4>2-4人桌</h4>
                                <i></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span>包间</span>
                                <h3>桌台14</h3>
                                <h4>2-4人桌</h4>
                                <i></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span>包间</span>
                                <h3>桌台15</h3>
                                <h4>2-4人桌</h4>
                                <i></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="esp">这是批量添加餐桌内容区</div>
            <div class="esp">这是餐桌二维码内容区</div>
            <div class="esp">这是餐桌类型名称内容区</div>
            <div class="esp">这是支付二维码内容区</div>
        </div>
    </ion-content>
</ion-view>