<ion-view>
    <ion-content class="ionic-content">
        <nav class="table-nav">
            <ul>
                <li class="active" switchover><a href="">全部餐桌</a></li>
                <li switchover><a href=""><span>18</span>空桌</a></li>
                <li switchover><a href=""><span>2</span>未付款</a></li>
                <li switchover><a href=""><span>0</span>已付款</a></li>
            </ul>
        </nav>
        <div class="table-content">
            <ul>
                <li>
                    <a href="javascript:;"
                       ng-click="toRedirect()">
                        <span>包间</span>
                        <h3>桌台1</h3>
                        <h4>空桌</h4>
                        <p><i></i><em>4</em>人座</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;"
                       ng-click="toRedirect()">
                        <span>包间</span>
                        <h3>桌台1</h3>
                        <h4>空桌</h4>
                        <p><i></i><em>4</em>人座</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;"
                       ng-click="toRedirect()">
                        <span>包间</span>
                        <h3>桌台1</h3>
                        <h4>空桌</h4>
                        <p><i></i><em>4</em>人座</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;"
                       ng-click="toRedirect()">
                        <span>包间</span>
                        <h3>桌台1</h3>
                        <h4>空桌</h4>
                        <p><i></i><em>4</em>人座</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;"
                       ng-click="toRedirect()">
                        <span>包间</span>
                        <h3>桌台1</h3>
                        <h4>空桌</h4>
                        <p><i></i><em>4</em>人座</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;"
                       ng-click="toRedirect()">
                        <span>包间</span>
                        <h3>桌台1</h3>
                        <h4>空桌</h4>
                        <p><i></i><em>4</em>人座</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;"
                       ng-click="toRedirect()">
                        <span>包间</span>
                        <h3>桌台1</h3>
                        <h4>空桌</h4>
                        <p><i></i><em>4</em>人座</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;"
                       ng-click="toRedirect()">
                        <span>包间</span>
                        <h3>桌台1</h3>
                        <h4>空桌</h4>
                        <p><i></i><em>4</em>人座</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="esp table-content">
            <ul>
                <li>
                    <a href="javascript:;"
                       ng-click="toRedirect()">
                        <span>包间</span>
                        <h3>桌台1</h3>
                        <h4>空桌</h4>
                        <p><i></i><em>4</em>人座</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;"
                       ng-click="toRedirect()">
                        <span>包间</span>
                        <h3>桌台1</h3>
                        <h4>空桌</h4>
                        <p><i></i><em>4</em>人座</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;"
                       ng-click="toRedirect()">
                        <span>包间</span>
                        <h3>桌台1</h3>
                        <h4>空桌</h4>
                        <p><i></i><em>4</em>人座</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;"
                       ng-click="toRedirect()">
                        <span>包间</span>
                        <h3>桌台1</h3>
                        <h4>空桌</h4>
                        <p><i></i><em>4</em>人座</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;"
                       ng-click="toRedirect()">
                        <span>包间</span>
                        <h3>桌台1</h3>
                        <h4>空桌</h4>
                        <p><i></i><em>4</em>人座</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;"
                       ng-click="toRedirect()">
                        <span>包间</span>
                        <h3>桌台1</h3>
                        <h4>空桌</h4>
                        <p><i></i><em>4</em>人座</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="esp table-content">
            <ul>
                <li>
                    <a href="javascript:;"
                       ng-click="toRedirect()">
                        <span>包间</span>
                        <h3>桌台1</h3>
                        <h4>空桌</h4>
                        <p><i></i><em>4</em>人座</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;"
                       ng-click="toRedirect()">
                        <span>包间</span>
                        <h3>桌台1</h3>
                        <h4>空桌</h4>
                        <p><i></i><em>4</em>人座</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;"
                       ng-click="toRedirect()">
                        <span>包间</span>
                        <h3>桌台1</h3>
                        <h4>空桌</h4>
                        <p><i></i><em>4</em>人座</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;"
                       ng-click="toRedirect()">
                        <span>包间</span>
                        <h3>桌台1</h3>
                        <h4>空桌</h4>
                        <p><i></i><em>4</em>人座</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;"
                       ng-click="toRedirect()">
                        <span>包间</span>
                        <h3>桌台1</h3>
                        <h4>空桌</h4>
                        <p><i></i><em>4</em>人座</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;"
                       ng-click="toRedirect()">
                        <span>包间</span>
                        <h3>桌台1</h3>
                        <h4>空桌</h4>
                        <p><i></i><em>4</em>人座</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="esp table-content">
            <ul>
                <li>
                    <a href="javascript:;"
                       ng-click="toRedirect()">
                        <span>包间</span>
                        <h3>桌台1</h3>
                        <h4>空桌</h4>
                        <p><i></i><em>4</em>人座</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;"
                       ng-click="toRedirect()">
                        <span>包间</span>
                        <h3>桌台1</h3>
                        <h4>空桌</h4>
                        <p><i></i><em>4</em>人座</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;"
                       ng-click="toRedirect()">
                        <span>包间</span>
                        <h3>桌台1</h3>
                        <h4>空桌</h4>
                        <p><i></i><em>4</em>人座</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;"
                       ng-click="toRedirect()">
                        <span>包间</span>
                        <h3>桌台1</h3>
                        <h4>空桌</h4>
                        <p><i></i><em>4</em>人座</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;"
                       ng-click="toRedirect()">
                        <span>包间</span>
                        <h3>桌台1</h3>
                        <h4>空桌</h4>
                        <p><i></i><em>4</em>人座</p>
                    </a>
                </li>
            </ul>
        </div>
    </ion-content>
</ion-view>