<ion-view>
    <ion-content class="ionic-content">
        <nav class="pay-nav">
        </nav>
        <div class="pay-content">
            <ul>
                <li>
                    <a href="javascript:;"
                      ng-click="toCheckout()">
                        <span>包间</span>
                        <h3>桌台1</h3>
                        <h4>待付款</h4>
                        <h5>¥ 20.00</h5>
                        <p><span><i></i>1单</span><span><i></i>66天</span></p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;"
                       ng-click="toCheckout()">
                        <span>包间</span>
                        <h3>桌台1</h3>
                        <h4>待付款</h4>
                        <h5>¥ 20.00</h5>
                        <p><span><i></i>1单</span><span><i></i>66天</span></p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;"
                       ng-click="toCheckout()">
                        <span>包间</span>
                        <h3>桌台1</h3>
                        <h4>待付款</h4>
                        <h5>¥ 20.00</h5>
                        <p><span><i></i>1单</span><span><i></i>66天</span></p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;"
                       ng-click="toCheckout()">
                        <span>包间</span>
                        <h3>桌台1</h3>
                        <h4>待付款</h4>
                        <h5>¥ 20.00</h5>
                        <p><span><i></i>1单</span><span><i></i>66天</span></p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;"
                       ng-click="toCheckout()">
                        <span>包间</span>
                        <h3>桌台1</h3>
                        <h4>待付款</h4>
                        <h5>¥ 20.00</h5>
                        <p><span><i></i>1单</span><span><i></i>66天</span></p>
                    </a>
                </li>
            </ul>
        </div>
    </ion-content>
</ion-view>