@charset "utf-8";
/**
*  公共变量
*
*/
// 导航
$navH:60px;
// 项目导航
$itemfontColor:#333; // 文字
$itemActiveColor:#297ef8; // 项目栏选中
$itemNav:#ffffff; // 项目导航背景色

// table
$tableBg:#f2f2f2; // 背景色
$tableUnitW:4rem; // 元素宽
$tableUnitH:3.5rem; // 元素高