<ion-view>
    <ion-content class="ionic-content">
        <div class="order">
            <div class="order-left">
                <div class="table-title">
                    <div><i></i><span>W</span></div><div><i></i><span>切换桌台</span></div>
                </div>
                <div>
                    <span>用餐人数</span>
                    <div>
                        <a class="add" href=""></a>
                        <span>3</span>
                        <a class="minus" href=""></a>
                    </div>
                </div>
                <div><i></i><span>添加备注</span></div>
                <div>
                    <a class="btn-left" href=""></a><p>已点餐品</p><a class="btn-right" href=""></a>
                </div>
                <ion-list>
                    <ion-item>
                        <div>
                            <h3>香菜</h3>
                            <p>￥20.00x2</p>
                        </div><div class="item-note">
                            <a class="add" href=""></a>
                            <a class="minus" href=""></a>
                            <a href=""></a>
                        </div>
                    </ion-item>
                </ion-list>
                <div>
                    <p><i></i><span>共<em>0</em>份</span>账单金额<span>￥<em>0.00</em></span></p>
                    <button class="button">提交订单</button>
                </div>
            </div><div class="order-right">
                <nav>
                    <ul>
                        <li class="active" switchover>全部</li>
                        <li switchover>套餐</li>
                        <li switchover>火锅</li>
                        <li switchover>棒家秘方</li>
                        <li switchover>手拍薄底</li>
                        <li switchover>传统披萨</li>
                        <li switchover>美味小食</li>
                        <li switchover>热销榜</li>
                        <li></li>
                    </ul>
                    <a href=""></a>
                </nav>
                <div>全部内容</div>
                <div class="esp">套餐内容</div>
                <div class="esp">火锅内容</div>
                <div class="esp">棒家秘方</div>
                <div class="esp">手拍薄底</div>
                <div class="esp">传统披萨</div>
                <div class="esp">美味小食</div>
                <div class="esp">热销榜内容</div>
            </div>
        </div>
    </ion-content>
</ion-view>