<ion-view>
    <ion-content class="ionic-content">
        <div class="indent-nav">
            <nav>
                <h1>订单管理</h1>
                <ul>
                    <li class="active" switchover><i></i>堂吃订单</li>
                    <li switchover><i></i>外卖订单</li>
                </ul>
            </nav>
             <div class="ineat">
                 <nav>
                     <ul>
                         <li class="active" switchover><i></i>已付款订单</li>
                         <li switchover><i></i>未付款订单</li>
                     </ul>
                 </nav>
                 <div>已付款订单内容</div>
                 <div class="esp">未付款订单内容</div>
             </div>
            <div class="take-out">
                <nav>
                    <ul>
                        <li class="active" switchover><i></i>已完成</li>
                    </ul>
                </nav>
                <div>已完成内容</div>
            </div>
        </div>
    </ion-content>
</ion-view>